<div class="col-md-3">
    <div class="panel panel-info">
    <div class="panel-heading">Stories</div>
    <div class="panel-body">
        <crud-list ng-repeat="story in stories" ng-click="setStory(story)"></crud-listr>
    </div>
    </div>
</div>

<div class="col-md-9 content">
    <div ng-if="currentStory" class="panel panel-primary">
        <div class="panel-heading">Story</div>
            <div class="panel-body">
                <div>
                    <a ng-if="currentView=='detail'" ng-click="setScope('currentView', 'edit')" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a> 
                    <a ng-if="currentView=='edit'" ng-click="save()" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-save"></span> Save</a>
                    <a ng-if="currentView=='edit'" ng-click="reset()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-refresh"></span> Reset</a>
                    <a ng-if="currentView=='edit'" ng-click="setScope('currentView', 'detail')" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-eye-open"></span> Cancel</a>
                </div>

                <crud-detail-edit ng-repeat="(field, value) in currentStory"></crud-detail-edit>
            </div>
    </div>
    
</div>